<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:fragment="head">
        <title>Tablas</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/estilos.css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <link rel="stylesheet" href="style.css" type="text/css">

        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light" sec:authorize="isAuthenticated()">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarAuto">
                            <i class="fas fa-plus"></i> <span th:text="Agregar">Agregar Auto</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
            
         <!-- 2 Sección principal para mostrar la informacion de la entidad AUTOS -->

        <section th:fragment="listadoAutos" id="autos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>AUTOS</h4>
                            </div>
                            <div th:if="${autos != null and !autos.isEmpty()}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Modelo</th>
                                            <th scope="col">Año</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Kilometraje</th>
                                            <th scope="col">Cilindrada</th>
                                            <th scope="col">Tipo Gasolina</th>
                                            <th scope="col">Tipo Transmision</th> 
                                            <th scope="col">Estado</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">ID Mantenimiento</th>
                                            <th scope="col">ID Proveedor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="auto : ${autos}">
                                            <td th:text="${auto.idAuto}"></td>
                                            <td th:text="${auto.marca}"></td>
                                            <td th:text="${auto.modelo}"></td>
                                            <td th:text="${auto.anho}"></td>
                                            <td th:text="${auto.color}"></td>
                                            <td th:text="${auto.precio}"></td>
                                            <td th:text="${auto.kilometraje}"></td>
                                            <td th:text="${auto.cilindrada}"></td>
                                            <td th:text="${auto.tipoGasolina}"></td>
                                            <td th:text="${auto.tipoTransmision}"></td>
                                            <td th:text="${auto.estado}"></td>
                                            <td th:text="${auto.cantidad}"></td>
                                            <td th:text="${auto.idMantenimiento}"></td>
                                            <td th:text="${auto.idProveedor}"></td>

                                            <td>
                                                <a th:href="@{/autos/eliminar/{id}(id=${auto.idAuto})}" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a> 
                                                <a th:href="@{/autos/modificar/{id}(id=${auto.idAuto})}" class="btn btn-warning btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${#lists.isEmpty(autos)}">
                                <span>No hay autos disponibles</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         
        <!-- 3 Sección para agregar un auto -->
        <section th:fragment="agregarAuto">
            <div id="agregarAuto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="Agregar">Agregar Reservacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/autos/guardar}" th:object="${auto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idAuto" th:text="ID_AUTO"></label>
                                    <input type="number" class="form-control" th:field="*{idAuto}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="marca" th:text="Marca"></label>
                                    <input type="text" class="form-control" th:field="*{marca}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="modelo" th:text="Modelo"></label>
                                    <input type="text" class="form-control" th:field="*{modelo}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="anho" th:text="Año"></label>
                                    <input type="number" class="form-control" th:field="*{anho}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="color" th:text="Color"></label>
                                    <input type="text" class="form-control" th:field="*{color}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="precio" th:text="Precio"></label>
                                    <input type="number" class="form-control" th:field="*{precio}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="kilometraje" th:text="Kilometraje"></label>
                                    <input type="number" class="form-control" th:field="*{kilometraje}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="cilindrada" th:text="Cilindrada"></label>
                                    <input type="number" class="form-control" th:field="*{cilindrada}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoGasolina" th:text="Tipo_Gasolina"></label>
                                    <input type="text" class="form-control" th:field="*{tipoGasolina}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoTransmision" th:text="Tipo_Transmision"></label>
                                    <input type="text" class="form-control" th:field="*{tipoTransmision}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="estado" th:text="Estado"></label>
                                    <input type="text" class="form-control" th:field="*{estado}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad" th:text="Cantidad"></label>
                                    <input type="number" class="form-control" th:field="*{cantidad}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="idMantenimiento" th:text="ID_Mantenimiento"></label>
                                    <input type="number" class="form-control" th:field="*{idMantenimiento}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="idProveedor" th:text="ID_Proveedor"></label>
                                    <input type="number" class="form-control" th:field="*{idProveedor}" required="true"/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
    </body>
</html>

