<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:fragment="head">
        <title>Tablas</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/estilos.css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <link rel="stylesheet" href="style.css" type="text/css">

        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    
    <body>
        
        <!-- 4 editarAuto -->
        <section th:fragment="editarAuto">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form id="editForm" th:action="@{/autos/guardar}" 
                          th:object="${auto}"
                          method="POST" 
                          class="was-validated">
                        <div class="card">
                            <div class="card-header">
                                <h4>Actualizar Auto</h4>
                            </div>
                            <div class="card-body">
                                <input type="hidden" th:field="*{idAuto}"/>
                                <div class="mb-3">
                                    <label for="marca"></label>
                                    <input type="text" id="marca" class="form-control" th:field="*{marca}" required/>
                                    <div class="invalid-feedback" th:text="Obligatorio"></div>
                                </div> <!--
                                <div class="mb-3">
                                    <label for="hora">Hora</label>
                                    <input type="time" id="hora" class="form-control" th:field="*{hora}" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="numeroDeMesa">Número de Mesa</label>
                                    <input type="number" id="numeroDeMesa" class="form-control" th:field="*{numeroDeMesa}" required min="1"/>
                                </div>
                                <div class="mb-3">
                                    <label for="contacto">Contacto</label>
                                    <input type="text" id="contacto" class="form-control" th:field="*{contacto}" required/>
                                </div> -->
                            </div>
                            <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <a th:href="@{/autos/listado}" class="btn btn-secondary">Cancelar</a>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
    </body>
    
</html>